plan/*.aux
plan/*.log
plan/*.synctex.gz
repos/*
code-maat/*
**.log.*
**.log
**/.ipynb_checkpoints
**.retry
**datasets

__pycache__

szz/bin/*
szz/build/*
szz/gradle
szz/jars
szz/gradlew
szz/run
szz/gerrit_all_commits_without_patchsets.json
szz/gradlew.bat
szz/bugReports.txt
szz/historyCommits.txt
szz/information
szz/.gradle
szz/results
szz/libs
szz/gradle.properties
.gradle

model/data
